@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}

article#main_bottom {
  margin-top: 11%;
}
p#p1 {
  display: flex;
}
p#p1 > input {
  padding: 0.6rem;
  margin: auto;
}
button#search {
  margin: auto;
}
select {
  margin-left: 69%;
  padding: 10px;
}
div#select {
  margin: auto;
  justify-content: space-between;
  display: flex;

  width: 100%;
}
fieldset {
  border: 0;
  padding: 5px 65px;
}
table {
  border-collapse: collapse;
}
#write {
  width: 50%;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  padding: 25px 65px;
}

textarea {
  background-color: white;
  border: 1px solid black;
  margin: 10px 10px;
}
button {
  position: relative;
  width: auto;
  margin-top: 20px;
  margin-left: 2%;
  padding: 10px;
  cursor: pointer;
}

tbody > tr:hover {
  cursor: pointer;
  background-color: #f3eef0;
}
select:hover {
  cursor: pointer;
}
